<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="run.zykj.app.subject14.mapper.EmailUserMapper">

    <resultMap id="EmailUser" type="run.zykj.app.subject14.entity.EmailUser">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, `name`, email, status
    </sql>

    <!--新增一条数据-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into email_user(
            <if test="name != null and name != ''">`name`, </if>
            <if test="email != null and email != ''">email </if>
        ) values (
            <if test="name != null and name != ''">#{name}, </if>
            <if test="email != null and email != ''">#{email}</if>
        )
    </insert>

    <!--激活用户-->
    <update id="activationUser">
        update email_user set status='active'  where id=#{userId}
    </update>

    <!--检测用户名在数据库中的唯一性-->
    <select id="checkNameUnique" resultType="java.lang.Integer">
        select count(*) from email_user where `name`=#{name}
    </select>

    <!--检测邮箱在数据库中的唯一性-->
    <select id="checkEmailUnique" resultType="java.lang.Integer">
        select count(*) from email_user where email=#{email}
    </select>

    <!--根据id查询用户-->
    <select id="findById" resultMap="EmailUser">
        select <include refid="Base_Column_List"></include>
        from email_user
        where id=#{userId}
    </select>


</mapper>