<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="run.zykj.app.subject22.mapper.MusicTableMapper">

    <resultMap id="MusicTable" type="run.zykj.app.subject22.entity.MusicTable">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="clickNumber" column="click_number"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, `name`, url, click_number
    </sql>

    <!--查询排名为前Limit的音乐网站信息-->
    <select id="selectOnLimit" resultMap="MusicTable">
        select <include refid="Base_Column_List"></include>
        from music_table
        order by
        click_number desc
        LIMIT #{limit}
    </select>

</mapper>